<section class="hero is-medium has-text-centered has-background-grey-lighter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                        <div class="has-text-centered">
                            <a href="https://x.com/Angelrosestar" class="button is-small is-light is-rounded custom-button has-background-grey-lighter">Art by AngelRoseStar</a>
                        </div>
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="mailto:{{site.email}}"
                               class="button is-rounded is-uppercase has-text-weight-normal is-black has-background-grey-lighter is-outlined">Send me an e-mail</a>
                        </div>
                    </div>
                </div>
                <section class="hero is-medium has-text-centered has-background-lighter" id="focus">
                    <div class="hero-body">
                        <div class="container">
                            <div class="subtitle">Three skills I'm focusing on:</div>
                            <div class="progress-bar">
                                <p>Object-Oriented Programming</p>
                                <progress class="progress is-primary" value="25" max="100">25%</progress>
                            </div>
                            <div class="progress-bar">
                                <p>Project Leadership</p>
                                <progress class="progress is-info" value="35" max="100">35%</progress>
                            </div>
                            <div class="progress-bar">
                                <p>Making really cool progress bars</p>
                                <progress class="progress is-success" value="90" max="100">90%</progress>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>